/* line 1, app/assets/stylesheets/app.scss */
#app {
  overflow-x: hidden;
  overflow-y: auto;
  /* Optional: show position indicator in red */
  background-color: var(--baseblue);
  color: #f5f5f5;
}

/* line 5, app/assets/stylesheets/app.scss */
#app ::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* line 10, app/assets/stylesheets/app.scss */
#app ::-webkit-scrollbar-thumb {
  background: #FF000000;
}

/* line 16, app/assets/stylesheets/app.scss */
#app h1, #app h2, #app h3, #app h4 {
  letter-spacing: 1.1px;
}

/* line 21, app/assets/stylesheets/app.scss */
#app .actions a, #app .actions a:hover {
  color: #f5f5f5;
}

/* line 27, app/assets/stylesheets/app.scss */
#app .main-content {
  grid-area: main;
  padding: 0px 24px;
}

/* line 32, app/assets/stylesheets/app.scss */
#app .main-content .fancy_header {
  font-family: 'babasneue_light', sans-serif;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  width: 100%;
  margin: 24px auto 6px auto;
  letter-spacing: 6.3px;
}

/* line 43, app/assets/stylesheets/app.scss */
#app .main-content .fancy_sub_header {
  font-family: babasneue;
  letter-spacing: 1.1px;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 18px;
  color: var(--baseturq);
  text-align: center;
}

/* line 53, app/assets/stylesheets/app.scss */
#app .main-content .gradient-edge {
  background: rgba(12, 65, 79, 0);
  background: linear-gradient(180deg, #0c414f 0%, rgba(12, 65, 79, 0) 100%);
  position: absolute;
  width: 100%;
  position: absolute;
  top: 72px;
  height: 24px;
}

/* line 70, app/assets/stylesheets/app.scss */
#app .menu {
  position: fixed;
  bottom: 0;
  height: 64px;
  width: 100vw;
  box-shadow: 0px -4px 12px rgba(42, 42, 42, 0.52);
}

/* line 78, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu {
  background-color: var(--baseblue);
  height: 100%;
}

/* line 83, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group {
  display: flex;
  height: 100%;
}

/* line 87, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group .app_btn {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: auto 42px;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.2s;
}

/* line 99, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group .app_btn:hover {
  background-color: var(--baseturq);
  transition-duration: 0.3s;
}

/* line 105, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group #oefeningen {
  background-image: url("button_beige_oefeningen");
}

/* line 107, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group #oefeningen:hover {
  background-image: url("button_green_oefeningen");
}

/* line 110, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group #info {
  background-image: url("button_beige_info");
}

/* line 112, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group #info:hover {
  background-image: url("button_green_info");
}

/* line 114, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group #awards {
  background-image: url("button_beige_awards");
}

/* line 116, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group #awards:hover {
  background-image: url("button_green_awards");
}

/* line 118, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group #profile {
  background-image: url("button_beige_personalia");
}

/* line 120, app/assets/stylesheets/app.scss */
#app .menu #bottom_menu .btn-group #profile:hover {
  background-image: url("button_green_personalia");
}

/* line 128, app/assets/stylesheets/app.scss */
#app #app_login_container {
  max-width: 250px;
  margin: auto;
  /* Change the white to any color */
  /* fucking ellendig kutding */
}

/* line 129, app/assets/stylesheets/app.scss */
#app #app_login_container .header {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--baseturq);
  color: #f5f5f5;
}

/* line 138, app/assets/stylesheets/app.scss */
#app #app_login_container .header .logo {
  width: 80px;
}

/* line 142, app/assets/stylesheets/app.scss */
#app #app_login_container .header .logo .imagelink:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* line 147, app/assets/stylesheets/app.scss */
#app #app_login_container .header .logo img {
  height: 40px;
  margin: 5px 12px;
  width: auto;
}

/* line 154, app/assets/stylesheets/app.scss */
#app #app_login_container .header .title {
  width: calc( 80% - 80px);
}

/* line 158, app/assets/stylesheets/app.scss */
#app #app_login_container .header .user-actions {
  width: 20%;
  color: #f5f5f5;
  font-size: 11px;
  text-align: right;
  padding-right: 12px;
}

/* line 164, app/assets/stylesheets/app.scss */
#app #app_login_container .header .user-actions a, #app #app_login_container .header .user-actions a:hover {
  text-decoration: none;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0);
}

/* line 175, app/assets/stylesheets/app.scss */
#app #app_login_container input {
  color: #3f3f3f !important;
}

/* line 181, app/assets/stylesheets/app.scss */
#app #app_login_container input:-webkit-autofill,
#app #app_login_container input:-webkit-autofill:hover,
#app #app_login_container input:-webkit-autofill:focus,
#app #app_login_container input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #5f5f5f !important;
  color: #5f5f5f !important;
}

/* line 192, app/assets/stylesheets/app.scss */
#app #introduction img {
  max-height: 80vh;
}

/* line 198, app/assets/stylesheets/app.scss */
#app .oefeningen_container {
  padding-top: 18px;
  overflow-y: scroll;
  height: calc( 100vh - 128px);
}

/* line 204, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item {
  background-color: #f5f5f5;
  color: #5f5f5f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  border-radius: 12px;
  text-decoration: none;
  width: calc( 100% - 18px);
  padding: 9px;
}

/* line 217, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item:hover {
  background-color: #f5f5f5;
  color: #5f5f5f;
}

/* line 222, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item .thumbnail {
  width: 36%;
}

/* line 225, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item .thumbnail img {
  width: 100%;
  margin-top: 8px;
}

/* line 231, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item .preset {
  width: 0%;
}

/* line 235, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item .content {
  width: calc( 64% - 12px);
  padding: 6px;
}

/* line 239, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item .content .title {
  width: 100%;
  color: var(--baseturq);
  font-family: babasneue;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 12px;
}

/* line 249, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item .content .description {
  width: 100%;
}

/* line 255, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item .arrow_right {
  display: none !important;
  width: 25%;
  transform: rotate(45deg);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 7px solid;
  border-right: 7px solid;
  margin: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: var(--basebeig);
  box-sizing: border-box;
}

/* line 272, app/assets/stylesheets/app.scss */
#app .oefeningen_container .oefening_list_item .stats {
  width: 100%;
  padding-top: 8px;
  border-top: solid 1px #d5d5d5;
  font-size: 10px;
}

/* line 283, app/assets/stylesheets/app.scss */
#app #oefening .back_btn, #app .oefening .back_btn {
  font-family: 'bradley_hand', sans-serif;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  margin: 18px;
}

/* line 295, app/assets/stylesheets/app.scss */
#app #oefening .back_btn:hover, #app .oefening .back_btn:hover {
  background-color: #00000000;
}

/* line 299, app/assets/stylesheets/app.scss */
#app #oefening .back_btn .arrow_left, #app .oefening .back_btn .arrow_left {
  width: 25%;
  transform: rotate(226deg);
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-top: 7px solid;
  border-right: 7px solid;
  margin: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: var(--basebeig);
  box-sizing: border-box;
}

/* line 316, app/assets/stylesheets/app.scss */
#app #oefening video, #app .oefening video {
  width: 100%;
  min-height: 425px;
}
