/* line 1, app/assets/stylesheets/app.scss */
#app {
  overflow: hidden;
  /* Optional: show position indicator in red */
  background-color: var(--baseblue);
  color: #f5f5f5;
}

/* line 4, app/assets/stylesheets/app.scss */
#app ::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* line 9, app/assets/stylesheets/app.scss */
#app ::-webkit-scrollbar-thumb {
  background: #FF000000;
}

/* line 15, app/assets/stylesheets/app.scss */
#app h1, #app h2, #app h3, #app h4 {
  letter-spacing: 1.1px;
}

/* line 20, app/assets/stylesheets/app.scss */
#app .actions a, #app .actions a:hover {
  color: #f5f5f5;
}

/* line 25, app/assets/stylesheets/app.scss */
#app .grid-container {
  display: grid;
  grid-template-areas: "head" "main" "menu";
  grid-template-rows: 0 auto 64px;
  grid-template-columns: auto;
  width: 100vw;
  height: calc( 100vh - 64px);
}

/* line 36, app/assets/stylesheets/app.scss */
#app .header {
  grid-area: head;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--baseturq);
  color: #f5f5f5;
}

/* line 45, app/assets/stylesheets/app.scss */
#app .header .logo {
  width: 80px;
}

/* line 49, app/assets/stylesheets/app.scss */
#app .header .logo .imagelink:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* line 54, app/assets/stylesheets/app.scss */
#app .header .logo img {
  height: 40px;
  margin: 5px 12px;
  width: auto;
}

/* line 61, app/assets/stylesheets/app.scss */
#app .header .title {
  width: calc( 80% - 80px);
}

/* line 65, app/assets/stylesheets/app.scss */
#app .header .user-actions {
  width: 20%;
  color: #f5f5f5;
  font-size: 11px;
  text-align: right;
  padding-right: 12px;
}

/* line 71, app/assets/stylesheets/app.scss */
#app .header .user-actions a, #app .header .user-actions a:hover {
  text-decoration: none;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0);
}

/* line 79, app/assets/stylesheets/app.scss */
#app #app_login_container {
  max-width: 250px;
  margin: auto;
  /* Change the white to any color */
  /* fucking ellendig kutding */
}

/* line 83, app/assets/stylesheets/app.scss */
#app #app_login_container input {
  color: #3f3f3f !important;
}

/* line 89, app/assets/stylesheets/app.scss */
#app #app_login_container input:-webkit-autofill,
#app #app_login_container input:-webkit-autofill:hover,
#app #app_login_container input:-webkit-autofill:focus,
#app #app_login_container input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #5f5f5f !important;
  color: #5f5f5f !important;
}

/* line 100, app/assets/stylesheets/app.scss */
#app #introduction img {
  max-height: 80vh;
}

/* line 105, app/assets/stylesheets/app.scss */
#app .main-content {
  grid-area: main;
  padding: 0px 24px;
}

/* line 109, app/assets/stylesheets/app.scss */
#app .main-content .fancy_header {
  font-family: 'babasneue_light', sans-serif;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  width: 100%;
  margin: 24px auto 6px auto;
  letter-spacing: 6.3px;
}

/* line 120, app/assets/stylesheets/app.scss */
#app .main-content .fancy_sub_header {
  font-family: babasneue;
  letter-spacing: 1.1px;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 18px;
  color: var(--baseturq);
  text-align: center;
}

/* line 130, app/assets/stylesheets/app.scss */
#app .main-content .gradient-edge {
  background: rgba(12, 65, 79, 0);
  background: linear-gradient(180deg, #0c414f 0%, rgba(12, 65, 79, 0) 100%);
  position: absolute;
  width: 100%;
  position: absolute;
  top: 72px;
  height: 24px;
}

/* line 140, app/assets/stylesheets/app.scss */
#app .main-content .oefeningen_container {
  padding-top: 18px;
  overflow-y: scroll;
  height: calc( 100vh - 128px);
}

/* line 147, app/assets/stylesheets/app.scss */
#app .menu {
  grid-area: menu;
}

/* line 151, app/assets/stylesheets/app.scss */
#app #bottom_menu {
  background-color: var(--baseblue);
  height: 100%;
}

/* line 156, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group {
  display: flex;
  height: 100%;
}

/* line 160, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group .app_btn {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: auto 42px;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.2s;
}

/* line 172, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group .app_btn:hover {
  background-color: var(--baseturq);
  transition-duration: 0.3s;
}

/* line 178, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group #oefeningen {
  background-image: url("button_beige_oefeningen");
}

/* line 180, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group #oefeningen:hover {
  background-image: url("button_green_oefeningen");
}

/* line 183, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group #info {
  background-image: url("button_beige_info");
}

/* line 185, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group #info:hover {
  background-image: url("button_green_info");
}

/* line 187, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group #awards {
  background-image: url("button_beige_awards");
}

/* line 189, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group #awards:hover {
  background-image: url("button_green_awards");
}

/* line 191, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group #profile {
  background-image: url("button_beige_personalia");
}

/* line 193, app/assets/stylesheets/app.scss */
#app #bottom_menu .btn-group #profile:hover {
  background-image: url("button_green_personalia");
}

/* line 198, app/assets/stylesheets/app.scss */
#app .oefening_list_item {
  background-color: #f5f5f5;
  color: #5f5f5f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  border-radius: 12px;
  text-decoration: none;
  width: calc( 100% - 18px);
  padding: 9px;
}

/* line 211, app/assets/stylesheets/app.scss */
#app .oefening_list_item:hover {
  background-color: #f5f5f5;
  color: #5f5f5f;
}

/* line 216, app/assets/stylesheets/app.scss */
#app .oefening_list_item .thumbnail {
  width: 36%;
}

/* line 219, app/assets/stylesheets/app.scss */
#app .oefening_list_item .thumbnail img {
  width: 100%;
  margin-top: 8px;
}

/* line 225, app/assets/stylesheets/app.scss */
#app .oefening_list_item .preset {
  width: 0%;
}

/* line 229, app/assets/stylesheets/app.scss */
#app .oefening_list_item .content {
  width: calc( 64% - 12px);
  padding: 6px;
}

/* line 233, app/assets/stylesheets/app.scss */
#app .oefening_list_item .content .title {
  width: 100%;
  color: var(--baseturq);
  font-family: babasneue;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 12px;
}

/* line 243, app/assets/stylesheets/app.scss */
#app .oefening_list_item .content .description {
  width: 100%;
}

/* line 248, app/assets/stylesheets/app.scss */
#app .oefening_list_item .arrow_right {
  display: none !important;
  width: 25%;
  transform: rotate(45deg);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 7px solid;
  border-right: 7px solid;
  margin: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: var(--basebeig);
  box-sizing: border-box;
}

/* line 267, app/assets/stylesheets/app.scss */
#app .oefening .back_btn {
  font-family: 'bradley_hand', sans-serif;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  margin: 18px;
}

/* line 279, app/assets/stylesheets/app.scss */
#app .oefening .back_btn:hover {
  background-color: #00000000;
}

/* line 283, app/assets/stylesheets/app.scss */
#app .oefening .back_btn .arrow_left {
  width: 25%;
  transform: rotate(226deg);
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-top: 7px solid;
  border-right: 7px solid;
  margin: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: var(--basebeig);
  box-sizing: border-box;
}

/* line 300, app/assets/stylesheets/app.scss */
#app .oefening video {
  width: 100%;
  min-height: 425px;
}
