#bottom_menu
  .btn-group        
    %a#oefeningen.app_btn{:href=>"/app/oefeningen/#{@token}"}
    %a#info.app_btn{:href=>"/app/info/#{@token}"}
    %a#awards.app_btn{:href=>"/app/awards/#{@token}"}
    %a#profile.app_btn{:href=>"/app/my_profile/#{@token}"}
