%br
%br
%center
  = image_tag "logo_medium"

#app_login_container
  %center
    %h4 Wachtwoord herstel instructies verstuurd
    %p
      Als uw email in ons systeem staat zou u binnen enkele minuten een verzoek moeten ontvangen om u wachtwoord te herstellen

    %p
      = link_to "terug naar de login pagina", "/app/login"

:css
  .menu {
    display: none;
  }
