%br
%br
%center
  = image_tag "logo_medium"

#app_login_container
  %center
    %h2 Verander uw wachtwoord

    %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/app/password", :method => "post"}
      %input{:name => "authenticity_token", :type => "hidden", :value => "nh0W9MBs23If5lgP6I9ePdFkL1GUR8xCAiX/2qF5MuQFghQBwtd5m97uZQDGKAQUqGB1ynU213Z9waZoYfOyfw=="}/
      .field
        %label{:for => "user_email"} Email
        %br/
        %input#user_email{:autocomplete => "email", :autofocus => "autofocus", :name => "user[email]", :type => "email", :value => ""}/
      .actions
        %input{"data-disable-with" => "stuur me herstel instructies", :name => "commit", :type => "submit", :value => "stuur me herstel instructies"}/

    %br
    = link_to "terug", "/app/login"
    %br

:css
  .menu {
    display: none;
  }
