.fancy_header Informatie Balie
.gradient-edge
.paper
  = image_tag "logo_medium"

  Test
  %br
  \---
  %br
  %br

  %h1 H1: lorem ipsum
  %h2 H2: lorem ipsum
  %h3 H3: lorem ipsum
  %h4 H4: lorem ipsum
  %h5 H5: lorem ipsum
  %h6 H6: lorem ipsum
  %br
  %p
    P lorem ipssm
    %b B lorem ipssm
    %i I lorem ipssm
  %br
  %blockquote Blockquote: lorem ipsum
  %br
  %handwriting Handwriging: lorem ipsum
  %br
  %code code: lorem ipsum
  %br
  %date date: lorem ipsum
  %br

  %hr

  %h1 A Beginning (h1)
  %h2 Princess Irulan on the beginning of it all (h2)
  %h3 A beginning
  %h4 is a very delicate time. (h3/h4)
  %p Know then, that it is the year 10191. The known universe is ruled by the Padisha Emperor Shaddam IV, my father.
  %p In this time, the most precious substance in the Universe is the spice melange.
  %ul
    %li The spice extends life (li).
    %li The spice expands consciousness (li).
    %li The spice is vital to space travel (li).
  %p
    = link_to "The Spacing Guild", "https://en.wikipedia.org/wiki/Spacing_Guild", target: "_blank"
    and its navigators, who the spice has mutated over four-thousand years, use the orange spice gas, which gives them the ability to fold space. That is, travel to any part of the Universe without moving.

  %p Oh yes, I forget to tell you;


  %p The spice exists on only one planet in the entire Universe. A desolate, dry planet with vast deserts. Hidden away within the rocks of these deserts are a people known as the Fremen, who have long held a prophecy, that a man would come, a messiah, who would lead them to true freedom (blockquote).

  %p The planet is <em>Arrakis</em>. Also known as <strong>Dune</strong>.

  %p.handwriting Princess Irulan, Introduction to Maud’ib
  %p.handwriting.md Large?Princess Irulan, Introduction to Maud’ib

  %p.handwriting.lg Large?Princess Irulan, Introduction to Maud’ib

  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
