.fancy_header Informatie Balie
.gradient-edge
.paper

  /%h3 Maecenas cursus
  .flex-colums
    %p.intro
      Wil je nog eens rustig nalezen hoe de stem werkt? Of ben je benieuwd hoe je je
      nieuwe vaardigheden kunt toepassen en trainen in het dagelijks leven? Je vindt het
      hieronder.

    .pull-right
      = image_tag "logo_medium"

  %br
  %br
  %br
  %br
  %hr

  .list
    .list-item
      .list-header
        %i.arrow.fa.fa-fas.fa-caret-down.pull-right
        10 geboden der gezond stemgebruik
      .list-content
        %p
          Als je veelvuldig je stem moet inzetten voor werk en privé, gebruik je je stem net zo intensief
          als een topsporter zijn lijf. En het laatste wat je wilt, is het krijgen van blessures zoals
          heesheid, vermoeidheid of problemen met volume. Naast het aanleren en gebruiken van de
          juiste stemtechniek kun je veel doen (of laten) om je stem gezond te houden.

        %h3 Gij zult…
        %b 1. Hydrateren
        %p
          Ofwel genoeg drinken. En dan niet teveel cafeïne houdende dranken (koffie, cola,
          zwarte thee of de Red Bulls), want die hebben een vochtafdrijvend effect. En dat is
          dus precies wat je NIET wilt. Water heeft de voorkeur.
        %b 2. Slapen
        %p
          Lekker veel slapen is goed voor de stem. Bij vermoeidheid is de stem namelijk
          minder krachtig, iets hoger en instabieler.
        %b 3. Niet roken en/of alcohol drinken
        %p
          Geen populaire maatregel, maar het is goed om te beseffen dat roken ontsteking en
          zwelling van het slijmvlies veroorzaakt en alcohol de slijmvliezen uitdroogt. Hierdoor
          sluiten en golven de stembanden niet meer goed, waardoor je stemkwaliteit minder
          is. Doe het dus niet of met mate.
        %b 4. Niet keelschrapen en kuchen
        %p
          Nou ja, alleen als je ontzettend verkouden bent, mag je natuurlijk goed hoesten: je
          longen moeten namelijk schoon blijven. Verder niet doen! 1 x je keel schrapen staat
          gelijk aan ongeveer een half uur stembelasting. Bovendien irriteert het je slijmvlies,
          waardoor je nog meer wilt schrapen: een neerwaartse spiraal. Wat dan wel?
          Lippentriller of huffen.
        %b 5. Niet te veel, te laat of te pikant eten.
        %p
          Hierdoor kun je last krijgen van maagzuur, wat je stem irriteert.
        %b 6. Niet hard fluisteren
        %p
          Dit is heel belastend voor de stembanden. Ben je je stem kwijt of ben je hees door
          een verkoudheid? Stemrust en lekker veel slapen is je redding!
        %b 7. Niet gillen, schreeuwen of luid roepen
        %p
          Probeer op feestjes, in de kroeg of tijdens sportwedstrijden niet boven het
          achtergrondgeluid te komen,maar gebruik de juiste techniek om dóór het geluid te
          gaan.
        %b 8. Door de neus ademen
        %p
          Dan heb je minder kans op een verkoudheid of keelinfectie.
        %b 9. Ontspanningsoefeningen voor de larynx doen
        %p
          Bijvoorbeeld Lax Vox of lippentriller. Zie het als een warming-up of cooling-down net
          als bij sporten.
        %b 10. De mogelijkheden van je stem goed leren kennen
        %p
          Binnen je eigen grenzen kan er heel veel met je stem. Probeer niet de stem van
          iemand anders over te nemen of stemmetjes op te zetten. Leer je eigen natuurlijke
          stemgebruik ten volle in te zetten en neem genoeg stemrust!

    .list-item
      .list-header
        %i.arrow.fa.fa-fas.fa-caret-down.pull-right
        Algemene tips en informatie!
      .list-content
        %ul
          %li      
            %p
              In tegenstelling tot wat we vaak denken is een hoger geluid niet beter hoorbaar.
              Sterker nog: laag geluid draagt verder. Als je dus een afstand moet overbruggen doe
              je dat het liefst in een voor jou comfortabel laag stemgeluid. Denk dus: laag en luid!!

          %li
            %p
              Als er veel achtergrondlawaai is en je wilt jezelf hoorbaar maken, denk dat dat je niet
              óver het geluid wilt, maar er dóórheen. Op die manier is het makkelijker je stem laag
              en luid te houden.

          %li
            %p
              Vind je het lastig om momenten te vinden om de technieken toe te passen? Neem
              jezelf voor om het een paar minuten te oefenen tijdens het voorlezen aan je
              kinderen, tijdens het natafelen of aan het begin van een telefoon- of
              videobelgesprek. Beslis de momenten aan het begin van de dag en houd je er aan. Zo
              oefen je ongemerkt steeds vaker!

          %li
            %p
              Als je oefeningen wilt combineren en trainen kun je dat het beste als volgt doen:
              %br
              1. Oefenen met focus op vaardigheid A
              %br
              2. Oefenen met focus op vaardigheid B
              %br
              3. Oefenen met focus op vaardigheid A
              %br
              4. Oefenen met Focus op vaardigheid B
              %br
              5. Oefenen met focus op vaardigheid A én B

          %li
            %p
              Stemplooien is een ander woord voor stembanden


    .list-item
      .list-header
        %i.arrow.fa.fa-fas.fa-caret-down.pull-right
        Hoe werkt je stem?
      .list-content
        %center
          = image_tag "tips_info_01", {:style=>"width:80%;"}
        %p
          Om geluid te kunnen maken, hebben we lucht
          nodig én onze stembanden. Deze liggen in het
          strottenhoofd als een natuurlijke beschermer
          van onze luchtpijp.
          Als we ademen staan de stembanden in een
          open stand (zie links op het plaatje hieronder)
          en als we gaan praten of
          zingen sluiten de stembanden zich (rechts). Er
          ontstaat dan door uitgaande lucht druk onder
          de stembanden. Als deze druk te

        %center
          = image_tag "stemplooien", {:style=>"width:80%;"}
        %p
          groot wordt openen de stembanden
          zich even om meteen ook weer te
          sluiten. Of eigenlijk zuigen de
          stembanden weer naar elkaar toe. Dit
          laatste komt door het natuurkundig
          verschijnsel: Bernouilli-effect. Zo
          openen en sluiten de stembanden zich
          bij een man gemiddeld 110x per
          seconde en bij een vrouw 220 x per
          seconde. De trilling van de stembanden
          wordt aan de luchtstroom meegegeven,
          wat wij als geluid horen.

        %center
          = image_tag "tips_info_03", {:style=>"width:80%;"}
        %p
          Om begrijpbare klanken te kunnen maken hebben we
          het aanzetstuk nodig. Dit is het gedeelte boven de
          stembanden tot en met de neus en lippen. De tong en
          lippen zijn onder andere belangrijk om verschillende
          klinkers en medeklinkers te kunnen maken. De mond-
          keel- en neusholte zijn o.a. belangrijk voor de klankkleur
          van je stem.
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

  :javascript
    console.log("Loaded")


    document.querySelectorAll(".list-item").forEach(function(elm) {
      elm.onclick = function() {

        // original_style = elm.nextSibling.nextSibling.style.height
        // original_style
        console.log(elm.classList)
        if ( elm.classList.contains('active') ) {
          elm.classList.remove('active')
        } else {
          document.querySelectorAll(".list-item").forEach(function(elm2) {
            elm2.classList.remove('active')
          })

          elm.classList.add('active')
          //elm.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
          //document.querySelectorAll('.paper')[0].scrollTo(0,50)
          document.querySelectorAll('.paper')[0].scroll(0,200)
          //elm.scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"});
        }
      }
    })
