.fancy_header#hidden_button Jouw Oefeningen
.gradient-edge

.oefeningen_container
  -# Exercise.each do |ex|
    =# render partial: 'app/oefening_list_item', :locals => {:exercise => ex}
  - current_user.exercises.each do |exercise|
    = render partial: 'app/oefening_list_item', :locals => {:exercise => exercise}

  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

  :javascript
    document.querySelectorAll(".debug_info").forEach(function(elm) { elm.style.display = "none" })
    var hidden_debug = true

    document.getElementById('hidden_button').onclick = function() {
      document.querySelectorAll(".debug_info").forEach(function(elm) { elm.style.display = "block" })
    }
