.logo
  = link_to "/", :class => "imagelink" do
    = image_tag "logo_medium"

.title.handwriting.lg
  Voicebuddy Logopedie oefen app

.user-actions
  - if current_user
    = link_to "logout", destroy_user_session_path, :method => :delete
