%br
%br
#index
  .box{:style=>"display:inline-block;max-width:400px;"}
    %h1 Voice Buddy
    %h5
      dé app om volwassen stemcliënten te
      ondersteunen bij het regelmatig doen
      van hun oefeningen.

    %p
      U kunt nu verder gaan in de app die u van uw logopedist gekregen heeft.
      Als u zich all in de app bevind, kunt u de app afsluiten en opniew opstarten.

    %p
      Anders kunt u de app downloaden, zodat u direct aan de slag kunt.
      %br
      Android gebruikers kunnen de app <a href="https://play.google.com/store/apps/details?id=nl.voicebuddy&hl=nl&gl=US" target="_blank">hier</a> vinden,
      iOS gebruikers klikken <a href="https://apps.apple.com/us/app/voice-buddy/id1557442052" target="_blank">hier</a>.

:javascript
  window.parent.postMessage('REMOVE_TOKEN||WEB||kk','*');
