#app {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--baseblue);
  color: #f5f5f5;


  ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
      background: #FF000000;
  }

  h1, h3, h4 {
    letter-spacing: 1.1px;
  }

  h2 {
    letter-spacing: 1.1px;
    line-height: 25px;
  }

  .actions {
    a, a:hover {
      color: #f5f5f5;
    }
  }

  // main wrapper (NOT menu and header)
  .main-content {
    grid-area: main;
    padding: 0px 0px;
  }

  .scroll-pane {
    height: 100vh;
    width: calc( 100% );
    overflow-y: scroll;
    position:absolute;
    top: 78px;
    left: 0px;
  }

  // for reading
  .paper {
    color: #2a2a2a;
    background-color: #d5d5d5;
    height: 100vh;
    width: calc( 100% - 48px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 24px;
    padding-top: 42px;

    .pull-right {
      float: right;
    }

    .list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: column;

      .list-item {
        .list-header {
          background-color: #d5d5d5;
          /* border: solid 1px black; */
          /* filter: drop-shadow(0px 16px 12px rgba(12,12,12,0.08)); */
          font-weight: light;
          color: var(--baseturq);
          padding: 12px 12px;
          margin: 0;
          cursor: pointer;
          transition-duration: 0.5s;
        }

        .list-content {
          height: 0;
          padding: 0 12px;
          /* box-shadow: inset 1px 6px 12px rgba(92,92,92,0.18);*/
          transition-duration: 0.3s;
          overflow: hidden;
        }

        .arrow {
          transform: rotateZ(0deg);
          transition-duration: 0.7s;
          color: var(--baseturq);
          font-size: 28px;
          line-height: 18px;
        }

        &.active {
          .list-content {
            padding: 0px 12px;
            height: auto;
          }
          .list-header {
            /* filter: drop-shadow(0px -18px 12px rgba(12, 12, 12, 0.11)); */
          }

          .arrow {
            transform: rotateZ(180deg);
          }
        }
      }
    }

    // promot thie
    .flex-colums {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    p {
      padding-left: 12px;
      padding-right: 48px;
      color: var(--baseblue);

      &.intro {
        font-weight: bolder;
      }
    }

    img {
      margin: 0px;
    }

    hr {
      border: solid 2px var(--basebeig);
    }

  }

  // Fixed top header with bcak button -----------------------------------------
  .fancy_header {
    //font-family: 'bradley_hand', sans-serif;
    font-family: 'babasneue_light', sans-serif;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    width: 100%;
    margin: 36px auto 0px auto;
    letter-spacing: 6.3px;

    .back_btn {
      font-family: 'bradley_hand', sans-serif;
      position:absolute;
      width: 40px;
      height: 40px;
      top: 0px;
      left: 0px;
      font-size: 12px;
      line-height: 40px;
      text-align: center;
      margin: 18px;

      &:hover {
        background-color: #00000000;
      }

      .arrow_left {
        width: 25%;
        transform: rotate(226deg);
        width: 0;
        height: 0;
        border: 11px solid transparent;
        border-top: 7px solid;
        border-right: 7px solid;
        margin: 15px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: var(--basebeig);
        box-sizing: border-box;
      }
    }
  }

  .fancy_sub_header {
    font-family: babasneue;
    letter-spacing: 1.1px;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 18px;
    color: var(--baseturq);
    text-align: center;
  }

  .gradient-edge {

    background: rgba(12, 65, 79, 0);
    background: linear-gradient(180deg, #0c414f 0%, rgba(12, 65, 79, 0) 100%);

    position: absolute;
    width: 100%;
    /* position: relative; */
    /* top: 24px; */
    height: 24px;
    z-index: 2;
    /* z-index: 100; */
    /* display: none; */
  }

  .push-down {
    height: 200px;
  }

  // Fixed bottom menu ---------------------------------------------------------
  .menu {
    position: fixed;
    bottom: 0;
    z-index: 10;
    height: 64px;
    width: 100vw;
    box-shadow: 0px -4px 12px rgba(42,42,42,0.52);
    //grid-area: menu;

    #bottom_menu {

      background-color: var(--baseblue);
      height: 100%;

      .btn-group {
        display: flex;
        height: 100%;

        .app_btn {
          width: 25%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: auto 42px;
          background-position: center;
          background-repeat: no-repeat;
          // transition-duration: 0.2s;
        }

        .app_btn:hover {
          background-color: var(--baseturq);
          // background-color: #e5e5e5;
          // transition-duration: 0.3s;
        }

        #oefeningen {
          background-image: url("button_beige_oefeningen");
          &:hover { background-image: url("button_green_oefeningen");}
        }

        #info {
          background-image: url("button_beige_info");
          &:hover { background-image: url("button_green_info");}
        }
        #awards {
          background-image: url("button_beige_awards");
          &:hover { background-image: url("button_green_awards");}
        }
        #profile {
          background-image: url("button_beige_personalia");
          &:hover { background-image: url("button_green_personalia");}
        }
      }
    }
  }

  #end-container {
    z-index: 3;
    position: absolute;
    top: 4%;
    left: 10%;
    width: 80%;
    display: none;
    min-height: 375px;
    text-align: center;

    h2 {
      margin: 8px;
    }

    img {
      width: auto;
      max-width: 100%;
      max-height: 110px;
      margin-bottom: 8px;
    }

    .datetime {
      width: 180px;
      display: inline-block;
    }

    a {
      color: white;
      background-color: unset;
      &:hover {background-color: unset;}

    }
  }

  .video-container {
    position: relative;

    #play-button {
      z-index: 1;
      position: absolute;
      top: calc( 50% - 18px );
      left: calc( 50% - 18px );
      display: block;
      filter: drop-shadow(0px 4px 3px var(--baseblue));
      font-size: 36px;
      pointer-events: none;
    }

    video {
      cursor: pointer;
      width: 100%;
      min-height: 375px;
      max-height: 63vh;
      cursor: pointer;

      &:focus {
        // outline: -webkit-focus-ring-color auto 1px;
        outline: none;
      }
    }

    .results {

    }
  }

  // LOGIN & INTRODUCTIE -------------------------------------------------------

  #app_login_container {
    %header, .header {
      //grid-area: head;
      //display: flex;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: var(--baseturq);
      color: #f5f5f5;

      .logo {
       width: 80px;

       .imagelink {
         &:hover {
           background-color: rgba(0,0,0,0);
         }
       }

       img {
         height: 40px;
         margin: 5px 12px;
         width: auto;
       }
      }

      .title {
        width: calc( 80% - 80px );
      }

      .user-actions {
        width: 20%;
        color: #f5f5f5;
        font-size: 11px;
        text-align: right;
        padding-right: 12px;
        a, a:hover {
          text-decoration: none;
          color: #f5f5f5;
          background-color: rgba(0,0,0,0);
        }
      }
    }

    max-width: 250px;
    margin: auto;

    input {
      color: #3f3f3f !important;
    }

    /* Change the white to any color */
    /* fucking ellendig kutding */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
     -webkit-box-shadow: 0 0 0 30px white inset !important;
     -webkit-text-fill-color: #5f5f5f !important;
     color: #5f5f5f !important;
    }
  }

  #introduction {

    .stempel {
      position:absolute;
      z-index: 10;
      width: 90vw;
      left: 5vw;
      top: 20vh;
      transform: perspective(500px) translate3d(0px, 0px, 0px) rotate(0deg);
      animation: mymove 2s;
      animation-timing-function: ease-in;

      img {
        width: 100%;
      }
    }

    .logo {
      filter: blur(20px);
      animation: myblur 2s;
      animation-timing-function: ease-in;
    }

    @keyframes mymove {
      0%   {
        opacity: 0;
        transform: perspective(500px) translate3d(0px, 10px, 380px) rotate(14deg);
      }

      64%  {
        opacity: 0;
        transform: perspective(500px) translate3d(0px, 10px, 380px) rotate(14deg);
      }
      100% {
        opacity: 1;
        transform: perspective(500px) translate3d(0px, 0px, 0px) rotate(0deg);
      }
    }

    @keyframes myblur {
      0%   {
        opacity: 1;
        filter: blur(0px);
      }

      15%  {
        opacity: 1;
        filter: blur(0px);
      }
      100% {
        opacity: 1;
        filter: blur(20px);
      }
    }

    img {
      max-height: 80vh;
    }
  }

  // PROFILE
  dl.user_profile {
    width: 100%;

    dt {
      display: inline-block;
      width: 33%;
      font-weight: bolder;
      margin-bottom: 12px;
      vertical-align: top;
    }

    dd {
      display: inline-block;
      width: 65%;
      margin-inline-start: 0px;
    }
  }


  // OEFENINGEN ----------------------------------------------------------------
  .streak_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    color: #353535;
    z-index: 3;

    .background {
      display: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
      z-index: 2;
    }

    .modal {
      z-index: 3;
      position: absolute;
      top: 20%;
      width: calc( 70% - 24px );
      left: 15%;
      padding: 12px 12px;
      background-color: #d5d5d5;
      border-radius: 8px;
      box-shadow: 0px 8px 20px rgba(50,50,50,0.42);
    }

    .modal-header {
      padding: 12px 24px;
      text-align: center;

      .title {
        font-size: 24px;
        line-height: 34px;
        font-weight: bolder;
        color: var(--baseblue)
      }

      .close_button {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        border: solid 2px var(--basebeig);
        border-radius: 20px;
        font-size: 24px;
        line-height: 24px;
        display: inline-block;
        width: 24px;
        padding: 1px 0px 0px 0px;
        text-align: center;
        color: var(--basebeig)
      }
    }

    .modal-content {
      padding: 12px 24px;
    }
  }

  .oefeningen_container {
    padding-top: 36px;
    padding-left: 24px;
    padding-right: 24px;
    overflow-y: scroll;
    height: calc( 100vh - 128px);

    .streak-info {
      text-align: center;
      font-variant: small-caps;

      .streak-display {
        background-color: var(--basebeig);
        color: var(--baseblue);
        display: inline-block;
        padding: 4px 12px;
        border-radius: 12px;
        box-shadow: inset 0px 3px 7px rgba(14,14,14,0.48);

        .streak-ball {
          &.grey {
            color: #8f8f8f;
          }

          &.green {

          }

          &.orang {

          }
        }
      }
    }

    .oefening_list_item {

      position: relative;
      background-color: #f5f5f5;
      color: #5f5f5f;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      border-radius: 12px;
      text-decoration: none;
      width: calc( 100% - 18px);
      padding: 9px;
      box-shadow: 0px 5px 11px rgba(40,40,40, 0.57);

      &.no-click {
        pointer-events: none;
        cursor: default;
        img {
          filter: grayscale(80%);
        }
        .content {
          .title {
            color: #95a2a2;
          }
        }
      }

      &:hover {
        background-color: #f5f5f5;
        color: #5f5f5f;
      }

      .thumbnail {
        width: 36%;

        img {
          width: 100%;
          margin-top: 8px;
        }
      }

      &.no-click .thumbnail { display: none; }
      &.no-click .description { display: none; }

      .claim_reward {
        display: none;
      }

      &.is_completed .claim_reward {

        p {
          margin-top: 50px;
        }

        h4 {
          text-decoration: underline;
        }

        display: block;
        position: absolute;
        text-align: center;
        top: 0;
        z-index: 2;
        border-radius: 12px;
        left: 0;
        background-color: var(--baseturq);
        color: white;
        font-size: 24px;
        font-weight: 700;
        overflow: hidden;

        /* animated */
        width: 0%;
        height: 70%;
        opacity: 0.9;
        border-bottom-right-radius: 200px;
        border-bottom-left-radius: 50px;

        /*
        height: 100%;
        width: 100%;
        opacity: 0.9;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        */

        transition-duration: 0.2s;
        transition-delay: 0.3s;

        &.disabled {
          height: 0;
          width: 70%;
          opacity: 0.4;
          border-bottom-right-radius: 200px;
          border-bottom-left-radius: 50px;
        }

      }

      .preset {
        width: 0%;
      }

      .content {
        width: calc( 64% - 12px);
        padding: 6px;

        .title {
          width: 100%;
          color: var(--baseturq);
          font-family: babasneue;
          font-weight: 600;
          font-size: 32px;
          line-height: 32px;
          margin-bottom: 12px;
        }

        .description {
          width: 100%;
        }
      }

      // Not Used
      .arrow_right {
        display: none !important;
        width: 25%;
        transform: rotate(45deg);
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top: 7px solid;
        border-right: 7px solid;
        margin: 15px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: var(--basebeig);
        box-sizing: border-box;
      }

      .stats {
        width: 100%;
        padding-top: 8px;
        border-top: solid 1px #d5d5d5;
        font-size: 10px;

        dl.debug_info {
          width: 100%;
          dt {
            display: inline-block;
            width: 33%;
            vertical-align: top;
          }

          dd {
            display: inline-block;
            width: 66%;
            margin-inline-start: 0px;
          }
        }

        .score {
          position: relative;
          display: inline-block;
          left: 0;
          width: 100%;
        }

        .streak {
          float: right;
          display: inline-block;
          right: 42px;
        }

        .progress-bar {
          display: block;
          width: 100%;
          height: 20px;

          .progress-tic {
            padding: 0px;
            margin: -1px;
            height: 13px;
            width: 0%;
            float: left;
            box-shadow: inset 1px 2px 10px rgba(92,92,92,0.28);

            &.green {
              background-color: var(--baseblue);
              border: solid 1px #b0c7b0;
            }

            &.greendark {
              background-color: #062027;
              border: solid 1px var(--baseblue);
            }

            &.lightgreen {
              background-color: var(--baseturq);
              border: solid 1px #b0c7b0;
            }

            &.orange {
              /*background-color: #ff9800;*/
              background-color: var(--basebeig);
              border: solid 1px #b19c7e;
            }

            &.yellow {
              background-color: #ffeb3b;
              border: solid 1px #e6e1b2;
            }

            &.hollow {
              background-color: #e5e5e5;
              border: solid 1px #8a8a8a;
            }

            &:first-child {
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
            }

            &:last-child {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          }
        }

        .moving_total {
          margin-top: 0px;
          font-family: 'babasneue';
          color: #252525;
          font-size: 16px;
          font-weight: 100;
        }

        .streak-bar{}

      }

      /* and wipe in */
      &:nth-child(4) {
        .claim_reward {
          animation: wipe-in 0.27s ease-out 0.3s 1 ;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -ms-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
      &:nth-child(5) {
        .claim_reward {
          animation: wipe-in 0.27s ease-out 0.6s 1 ;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -ms-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
      &:nth-child(6) {
        .claim_reward {
          animation: wipe-in 0.27s ease-out 0.9s 1 ;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -ms-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
      &:nth-child(7) {
        .claim_reward {
          animation: wipe-in 0.27s ease-out 1.2s 1 ;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -ms-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
      &:nth-child(8) {
        .claim_reward {
          animation: wipe-in 0.27s ease-out 1.5s 1 ;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -ms-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
      &:nth-child(9) {
        .claim_reward {
          animation: wipe-in 0.27s ease-out 1.8s 1 ;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -ms-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }

      @keyframes wipe-in {
        0% {
          height: 0%;
          width: 60%;
          opacity: 0.4;
          border-bottom-right-radius: 1000px;
          border-bottom-left-radius: 400px;
        }
        100% {
          height: 100%;
          width: 100%;
          opacity: 0.9;
          border-bottom-right-radius: 12px;
          border-bottom-left-radius: 12px;
        }
      }
    }
  }

  // OEFENING ------------------------------------------------------------------
  #oefening, .oefening {

    padding-top: 0;
    padding-left: 24px;
    padding-right: 24px;
    overflow-y: scroll;
    height: calc( 100vh - 128px);

    .skip_button {
      position:relative;      
      z-index: 1;
      position: absolute;
      bottom: calc( 2% );
      left: calc( 50% - 50px );
      right: calc( 50% - 50px );
      display: block;
      filter: drop-shadow(0px 4px 3px var(--baseblue));
      font-size: 12px;
      /*border-radius: 0%;*/
      pointer-events: all;
      font-weight: bold;
      background-color: var(--basebeig);
    }

    progress {
      -webkit-appearance: none;
      appearance: none;

      margin-top: 18px;
      width: 100%;
      height: 12px;

      &::-webkit-progress-bar {
        //background-color: #eee;
        border-radius: 12px;
        //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

        background-color: #eaeaea;
        border: solid 1px #8a8a8a;
        box-shadow: inset 1px 2px 10px rgba(92,92,92,0.28);
      }

      &::-webkit-progress-value {
        /*
        background-image:
      	   -webkit-linear-gradient(-45deg,
      	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
      	                           rgba(0,0, 0, .1) 66%, transparent 66%),
      	   -webkit-linear-gradient(top,
      	                           rgba(255, 255, 255, .25),
      	                           rgba(0, 0, 0, .25)),
      	   -webkit-linear-gradient(left, #09c, #f44);
        */
        background-color: var(--baseturq);
        border-radius: 12px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
      }
    }
  }

  // INFO ----------------------------------------------------------------------

  // AWARDS---------------------------------------------------------------------
  #awards {
    .main-content {
      margin: 24px 12px;

      .center-text {
        text-align: center;
      }
    }

    .fa-star {
      color: #afab40;
    }

    .streaks-list {
      display: flex;
      flex-direction: row;
      align-items: self-end;
      justify-content: space-around;

      img {
        width: 20%;
        border: solid 11px #e5e5e5;
        border-radius: 18px;
        pointer-events: all;
        cursor: pointer;
      }
    }

    .award-list {
      overflow-y: scroll;
      height: calc( 100vh - 128px);

      .award-item {
        margin: 24px 24px;
        padding: 12px 16px;
        background-color: #f5f5f5;
        margin-bottom: 20px;
        border-radius: 12px;
        color: #151515;
        box-shadow: 0px 5px 11px rgba( 40,40,40, 0.57);
        display: flex;

        .left-column {
          width: auto;
          .award-icon {
            margin-left: -12px;
          }
        }

        .center-column {
          width: calc( 100% - 108px );
          .date {
              color: var(--basebeig);
          }
        }
        .right-column {
          width: 72px;
          .score {
            float: right;
            font-size: 26px;
            line-height: 32px;
            margin-top: 11px;
            font-family: 'babasneue';
            color: var(--baseblue);

            .small {
              font-family: 'babasneue_light';
              font-size: 24px;
            }
          }
        }
      }

      h1 {
        width: 100%;
        color: var(--baseturq);
        font-family: babasneue;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 12px;
        margin-top: 6px;
      }

      h2, h3 {
        margin: 0;
        color: var(--basebeig);
      }
    }
  }

  #streak_video_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    .video-container {
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;

      video {
        margin-bottom: 65px;
      }
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.52);
      z-index: -1;
    }

    video {

    }
  }


  // PROFIEL -------------------------------------------------------------------


}
