#app {
  overflow: hidden;

  ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
      background: #FF0000;
  }

  background-color: var(--baseblue);
  color: #f5f5f5;
  h1, h2, h3, h4 {
    letter-spacing: 1.1px;
  }

  .actions {
    a, a:hover {
      color: #f5f5f5;
    }
  }

  .grid-container {
    display: grid;
    // grid-template-areas: "head" "main" "menu";
    grid-template-areas: "head" "main" "menu";
    grid-template-rows: 0 auto 50px;
    grid-template-columns: auto;
    width: 100vw;
    // height: 100vh;
    height: calc( 100vh - 20px );
  }

  %header, .header {
    grid-area: head;
    //display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--baseturq);
    color: #f5f5f5;

    .logo {
     width: 80px;

     .imagelink {
       &:hover {
         background-color: rgba(0,0,0,0);
       }
     }

     img {
       height: 40px;
       margin: 5px 12px;
       width: auto;
     }
    }

    .title {
      width: calc( 80% - 80px );
    }

    .user-actions {
      width: 20%;
      color: #f5f5f5;
      font-size: 11px;
      text-align: right;
      padding-right: 12px;
      a, a:hover {
        text-decoration: none;
        color: #f5f5f5;
        background-color: rgba(0,0,0,0);
      }
    }
  }

  .main-content {
    grid-area: main;
    padding: 0px 24px;

    .fancy_header {
      //font-family: 'bradley_hand', sans-serif;
      font-family: 'babasneue_light', sans-serif;
      font-size: 42px;
      line-height: 42px;
      text-align: center;
      width: 100%;
      margin: 18px auto;
      letter-spacing: 6.3px;
    }

    .fancy_sub_header {
      font-family: babasneue;
      letter-spacing: 1.1px;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 18px;
      color: var(--baseturq);
      text-align: center;
    }

    .oefeningen_container {
      overflow-y: scroll;
      height: calc( 100vh - 232px );
    }
  }

  .menu {
     grid-area: menu;
  }

  #bottom_menu {

    background-color: var(--baseblue);
    height: 100%;

    .btn-group {
      display: flex;
      height: 100%;

      .app_btn {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: auto 42px;
        background-position: center;
        background-repeat: no-repeat;
        transition-duration: 0.2s;
      }

      .app_btn:hover {
        background-color: var(--baseturq);
        // background-color: #e5e5e5;
        transition-duration: 0.3s;
      }

      #oefeningen {
        background-image: url("button_beige_oefeningen");
        &:hover { background-image: url("button_green_oefeningen");}
      }

      #info {
        background-image: url("button_beige_info");
        &:hover { background-image: url("button_green_info");}
      }
      #awards {
        background-image: url("button_beige_awards");
        &:hover { background-image: url("button_green_awards");}
      }
      #profile {
        background-image: url("button_beige_personalia");
        &:hover { background-image: url("button_green_personalia");}
      }
    }
  }

  .oefening_list_item {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 12px;
    padding: 9px;
    text-decoration: none;

    .thumbnail {
      width: 25%;

      img {
        width: 100%;
      }
    }

    .title {
      width: 50%;
      color: var(--baseturq);
      font-family: babasneue;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px;
    }

    .preset {
      width: 0%;
    }

    .arrow_right {
      width: 25%;
      transform: rotate(45deg);
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-top: 7px solid;
      border-right: 7px solid;
      margin: 15px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      color: var(--basebeig);
      box-sizing: border-box;
    }
  }

  .oefening {
    .back_btn {
      font-family: 'bradley_hand', sans-serif;
      position:absolute;
      width: 40px;
      height: 40px;
      top: 0px;
      left: 0px;
      font-size: 12px;
      line-height: 40px;
      text-align: center;

      .arrow_left {
        width: 25%;
        transform: rotate(226deg);
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top: 7px solid;
        border-right: 7px solid;
        margin: 15px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: var(--basebeig);
        box-sizing: border-box;
      }
    }

    video {
      width: 100%;
    }
  }
}
