<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft een verzoek gedaan om zijn wachtwoord te herstellen, dat kan met de volgende link:</p>

<p>
<% if @resource.has_role? :client %>
  <%= link_to 'Verander mijn wachtwoord', app_password_edit_url(@resource, reset_password_token: @token) %>
<% else %>
  <%= link_to 'Verander mijn wachtwoord', edit_password_url(@resource, reset_password_token: @token) %>
<% end %>
</p>

<p>Als u niet degene was die dit verzoek gedaan heeft, kunt u deze mail negeren.</p>
<p>Uw wachtwoord verandert niet totdat u op bovenstaande link drukt en zelf het wachtwoord verandert.</p>   